# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Environment
.env
*.env

# Django
db.sqlite3
/media/
staticfiles/
*.log

# VSCode/IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

**/migrations/*.pyc
**/migrations/__pycache__/
